*{
  box-sizing: border-box;
}

body * {
  font-family:sans-serif; /*From https://css-tricks.com/sans-serif/ Macs will still use Helvetica by default, an PCs will use Arial if those are the default "sans-serif" value. */

}

header h1 {
  display:flex; /*flexbox used for layout */
  justify-content: center;
  color: rgb(192,182,31); /*shade most similar to the official LoL website logo. */
  font-weight: bold;
  font-size: 3em;
  padding-top: 0;
  margin-top: 0;
  font-family: 'Merriweather', serif;   /*Merriweather font for a more professional looking title */
}

#news {       /* for mobile viewers, layout of the recent news on the homepage */
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 1em;
  color:rgb(192,182,31); 
  font-size:1.4rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(100,100,100,0.7);   /* 0.7 for 70% opacity */
}

#news h2 {
  text-decoration: underline; 
}

#news iframe 
{
  max-width:90%;
}

@media screen and (min-width:721px){   /*to hide the recent news when viewing on a large enough screen to support the video background */
  #news{
    display:none;
  }
}

.topnav{
  overflow: hidden;
}

.topnav .navicon{
  display: none;  /* hide the dropdown unless viewing on a smaller screen */
  padding: 0 0 0 0;
}

.topnav a {
  text-decoration:none;
  font-size: 1.6em;
  color: rgb(192,182,31); 
}

.topnav a:hover {
  text-decoration: none;
  color: black;
  background-color: rgb(192,182,31); 
}
.topnav ul {
list-style-type: none;
display: flex;
justify-content: center;
align-items: center;
justify-content: space-between;
margin-left: 15%;
margin-right: 10%;
}

.topnav ul a {
  background-color: rgba(2,6,99,0.9);
  font-weight: bold;
  padding: 10px 10px;
  border-radius: 30px;
}
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {    /*video background fullscreen on large screens */
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    
   
}

@media screen and (max-width: 720px) {   /*when viewing on a smaller screen, only display the first frame from the video as a poster background */
    .fulltitle {
     display:none;
    }
    .fullscreen-bg {
        background: url('backgroundposter.jpg') center center / cover no-repeat;
        padding-bottom: 70px;
    }

    .hide {display:none;}   /*hide all but 'home' */

    .topnav a.navicon { display:block; }

    .topnav.responsive {
      position:relative;       
      top:0;
      position: sticky;
      z-index: 100;
    }
    .topnav.responsive li.navicon {
      position:absolute;
      right:0;
      top:0;
    }
    .topnav{    /*to shift the menu to the right*/
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      top:0;
      position: sticky;
      z-index: 100;
    }
    .topnav ul {
    flex-direction: column;     /*make the dropdown menu vertical for better mobile viewing */
    margin-right: 0%;

    }

    .topnav.responsive li {
    float: none;
    display: block;
    text-align: left;
    margin-top: 10%;
    }


    .fullscreen-bg__video {
        display: none;
    }
   
}

.sticky {
  top:0;
  position: sticky;
  z-index: 100;
}

.footer { /*only on the homepage */
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 3rem;
  background-color: rgba(10,9,9,0.5);
  text-align: center;
  color:white;
  font-size: 1rem;
}
