.background {
  background: url('../backgroundposter.jpg') center center / cover no-repeat; /*background set as the poster in place of the video for all other pages as content would cover it */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  padding-bottom: 70px;
}

body * {
  box-sizing: border-box;
}
.flex-wrapper{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 70px;
}

.flex-item{
  display: flex;
  border: 1px solid black;
  padding:0px;
  flex-basis: 32%;
  align-items: flex-start;
  flex-direction: column;
  background: rgba(100,100,100,0.6);
}

@media screen and (max-width:720px)
{
  .flex-item {
    flex-wrap: nowrap;
    flex-basis: 95%;
  }
}


.flex-item img {
  max-width: 75%;
  flex-basis: 75%;
}
h2 {
	margin-left: 12%;
	margin-bottom: 0;
	margin-top: 5%;
	font-size: 2em;
    text-decoration: underline;
    color:rgb(192,182,31); 
}

h3 .dropbtn {    /*dropdown button for champion page */
	text-decoration: underline;
	font-size: 2em;
	margin-top: 0;
	margin-bottom: 0;
}

.dropbtn {
    background-color: rgba(100,100,100,0.7);
    color: black;
    padding: 3px;
    border: none;
    font-size: 0.9em;
    cursor: pointer; /*change cursor to make the link more obvious */
}

/* Dropdown Content hidden unless hovering on the button */
.dropdown-content {
    display: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


.champimage {   /* for better styling, keeping the image away from the box border */
	margin-top: 1em;
}

.champimage, .dropdown {  /* align the image and text in the center */
	align-self: center;
}

.dropdown{
    text-align:center;
}

@media screen and (max-width: 720px) {
	.force {

  		position: static;
  		height: 8rem;
	}

}




.aboutwrapper {
	margin-top: 1em;
	margin-left: 17%;
	margin-right: 17%;
	padding-right: 2em;
	padding-left: 2em;
	display:flex;
	flex-direction: column;
	background-color: rgba(100,100,100,0.8)
}

.link {
	padding-bottom: 70px;
	text-decoration: none;
}

.link a {
	text-decoration: underline;
	color:rgb(192,182,31); 
}

.link a:hover {
	color:blue;
}